root = true

[*]
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[*.{vcxproj,filters,vcxitems}]
insert_final_newline = false
end_of_line = crlf
tab_width = 2

[*.sln]
insert_final_newline = false
end_of_line = crlf
indent_style = tab
tab_width = 4