*.aps
*.ncb
*.opensdf
*.sdf
*.suo
*.user
*.opendb
*.VC.db

# compiler-generated sources (MSVC, GCC)
*.asm
*.s

# assembled linker objects (GCC)
*.o

Thumbs.db
/Bin/Debug
/Bin/Debug64
/Bin/Package
/Bin/Release
/Bin/Release64
/build
/Config/Project64.cache3
/Config/Project64.cfg
/Config/Project64.rdn
/Config/Project64.sc3
/Config/Project64.zcache
/ipch
/Plugin/GFX/lib
/Plugin/GFX/map
/Plugin/GFX/pdb
/Plugin/GFX/PJ64Glide64.dll
/Plugin/GFX/PJ64Glide64_d.dll
/Plugin/Input/lib
/Plugin/Input/map
/Plugin/Input/pdb
/Plugin/Input/PJ64_NRage.dll
/Plugin/Input/PJ64_NRage_d.dll
/Plugin/RSP/lib
/Plugin/RSP/map
/Plugin/RSP/pdb
/Plugin/RSP/RSP 1.7.dll
/Plugin/RSP/RSP_d 1.7.dll
/Plugin64/GFX/lib
/Plugin64/GFX/map
/Plugin64/GFX/pdb
/Plugin64/GFX/PJ64Glide64.dll
/Plugin64/GFX/PJ64Glide64_d.dll
/Plugin64/Input/lib
/Plugin64/Input/map
/Plugin64/Input/pdb
/Plugin64/Input/PJ64_NRage.dll
/Plugin64/Input/PJ64_NRage_d.dll
/Plugin64/RSP/lib
/Plugin64/RSP/map
/Plugin64/RSP/pdb
/Plugin64/RSP/RSP 1.7.dll
/Plugin64/RSP/RSP_d 1.7.dll
/Source/3rdParty/wx/lib/vc_lib/msw/wx/setup.h
/Source/3rdParty/wx/lib/vc_lib/mswd/wx/setup.h
/Source/3rdParty/wx/lib/vc_lib/mswu/wx/msw/rcdefs.h
/Source/3rdParty/wx/lib/vc_lib/mswu/wx/setup.h
/Source/3rdParty/wx/lib/vc_lib/mswud/wx/msw/rcdefs.h
/Source/3rdParty/wx/lib/vc_lib/mswud/wx/setup.h
/Save
