# C/C++ source files

*.c             text diff=c
*.cc            text diff=cpp
*.cxx           text diff=cpp
*.cpp           text diff=cpp
*.c++           text diff=cpp
*.hpp           text diff=cpp
*.h             text diff=c
*.h++           text diff=cpp
*.hh            text diff=cpp

# Java source files

*.java          text diff=java
*.gradle        text diff=java
*.gradle.kts    text diff=java

# Web source files

*.css           text diff=css
*.htm           text diff=html
*.html          text diff=html
*.js            text
*.jsp           text
*.jspf          text
*.jspx          text
*.properties    text
*.xml           text

# Inno setup files

*.isl           text
*.iss           text

# Visual Studio file exceptions

*.sln        text eol=crlf
*.csproj     text eol=crlf
*.vbproj     text eol=crlf
*.vcxproj    text eol=crlf
*.vcproj     text eol=crlf
*.dbproj     text eol=crlf
*.fsproj     text eol=crlf
*.lsproj     text eol=crlf
*.wixproj    text eol=crlf
*.modelproj  text eol=crlf
*.sqlproj    text eol=crlf
*.wwaproj    text eol=crlf
*.xproj      text eol=crlf
*.props      text eol=crlf
*.filters    text eol=crlf
*.vcxitems   text eol=crlf

# All files that are binary and should not be normalized

# Binary Java files

*.class         binary
*.ear           binary
*.jar           binary
*.war           binary
*.jks           binary

# Compiled object files

*.slo           binary
*.lo            binary
*.o             binary
*.obj           binary

# Precompiled headers

*.gch           binary
*.pch           binary

# Compiled dynamic libraries

*.so            binary
*.dylib         binary

# Compiled Static libraries

*.lai           binary
*.la            binary
*.a             binary
*.lib           binary

# Binary data and executables

*.exe           binary
*.out           binary
*.app           binary
*.dll           binary
*.e32           binary

# Archives

*.7z            binary
*.gz            binary
*.tar           binary
*.tgz           binary
*.zip           binary
*.rar           binary
*.cab           binary

# Images

*.png           binary
*.jpg           binary
*.jpeg          binary
*.psd           binary
*.gif           binary
*.bmp           binary
*.ico           binary
*.cur           binary
*.svg           binary
*.tif           binary
*.tiff          binary
