# Automatically detect text files and perform LF line ending normalization
* text=auto

# Files you want to always be normalized and converted
# to native line endings on checkout
*.c text
*.cpp text
*.h text
*.in text
*.dsp text
*.iss text
*.rc text
*.cpf text
*.sc text
*.cmd text
*.sh text
*.txt text

# Files that will always have CRLF line endings on checkout
*.sln text eol=crlf
*.vcproj text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.props text eol=crlf
*.vsprops text eol=crlf
*.vbs text eol=crlf

# All files that are binary and should not be normalized

# Images
*.png binary
*.jpg binary
*.psd binary
*.gif binary
*.bmp binary
*.ico binary
*.xpm binary
*.cur binary

# Binary data
*.exe binary
*.dll binary
*.e32 binary
*.lib binary
