*.aps
*.ncb
*.opensdf
*.sdf
*.suo
*.user
*.opendb
*.VC.db

# static library output (MSVC, GCC--from core components like Common)
*.lib
*.a

# compiler-generated sources (MSVC, GCC)
*.asm
*.s

# assembled linker objects (GCC)
*.o

Thumbs.db
/.vs
/Bin/Package
/Bin/Win32/Debug
/Bin/Win32/Release
/Bin/x64/Debug
/Bin/x64/Release
/build
/Config/Cheats-User
/Config/Enhancements-User
/Config/Project64.cache3
/Config/Project64.cfg
/Config/Project64.rdn
/Config/Project64.sc3
/Config/Project64.zcache
/git.properties
/ipch
/Package
/Plugin/Win32/Audio/AndroidAudio_d.dll
/Plugin/Win32/Audio/AndroidAudio.dll
/Plugin/Win32/Audio/Project64-Audio_d.dll
/Plugin/Win32/Audio/Project64-Audio.dll
/Plugin/Win32/GFX/lib
/Plugin/Win32/GFX/map
/Plugin/Win32/GFX/pdb
/Plugin/Win32/GFX/Project64-Video_d.dll
/Plugin/Win32/GFX/Project64-Video.dll
/Plugin/Win32/Input/AndroidInput_d.dll
/Plugin/Win32/Input/AndroidInput.dll
/Plugin/Win32/Input/lib
/Plugin/Win32/Input/map
/Plugin/Win32/Input/pdb
/Plugin/Win32/Input/PJ64_NRage_d.dll
/Plugin/Win32/Input/PJ64_NRage.dll
/Plugin/Win32/Input/Project64-Input_d.dll
/Plugin/Win32/Input/Project64-Input.dll
/Plugin/Win32/RSP/lib
/Plugin/Win32/RSP/map
/Plugin/Win32/RSP/pdb
/Plugin/Win32/RSP/Project64-RSP_d.dll
/Plugin/Win32/RSP/Project64-RSP.dll
/Plugin/Win32/RSP/RSP 1.7.dll
/Plugin/Win32/RSP/RSP_d 1.7.dll
/Plugin/Win32/RSP/RSP-HLE_d.dll
/Plugin/Win32/RSP/RSP-HLE.dll
/Plugin/Win32/RSP/Project64-RSP-Basic_d.dll
/Plugin/Win32/RSP/Project64-RSP-Basic.dll
/Plugin/x64/Audio/AndroidAudio_d.dll
/Plugin/x64/Audio/AndroidAudio.dll
/Plugin/x64/Audio/Project64-Audio_d.dll
/Plugin/x64/Audio/Project64-Audio.dll
/Plugin/x64/GFX/lib
/Plugin/x64/GFX/map
/Plugin/x64/GFX/pdb
/Plugin/x64/GFX/Project64-Video_d.dll
/Plugin/x64/GFX/Project64-Video.dll
/Plugin/x64/Input/AndroidInput_d.dll
/Plugin/x64/Input/AndroidInput.dll
/Plugin/x64/Input/lib
/Plugin/x64/Input/map
/Plugin/x64/Input/pdb
/Plugin/x64/Input/PJ64_NRage_d.dll
/Plugin/x64/Input/PJ64_NRage.dll
/Plugin/x64/Input/Project64-Input_d.dll
/Plugin/x64/Input/Project64-Input.dll
/Plugin/x64/RSP/lib
/Plugin/x64/RSP/map
/Plugin/x64/RSP/pdb
/Plugin/x64/RSP/Project64-RSP_d.dll
/Plugin/x64/RSP/Project64-RSP.dll
/Plugin/x64/RSP/RSP 1.7.dll
/Plugin/x64/RSP/RSP_d 1.7.dll
/Plugin/x64/RSP/RSP-HLE_d.dll
/Plugin/x64/RSP/RSP-HLE.dll
/Plugin/x64/RSP/Project64-RSP-Basic_d.dll
/Plugin/x64/RSP/Project64-RSP-Basic.dll
/Plugin64/AndroidAudio
/Plugin64/Audio/AndroidAudio_d.dll
/Plugin64/Audio/AndroidAudio.dll
/Plugin64/Audio/Project64-Audio_d.dll
/Plugin64/Audio/Project64-Audio.dll
/Plugin64/GFX/lib
/Plugin64/GFX/map
/Plugin64/GFX/pdb
/Plugin64/GFX/PJ64Glide64_d.dll
/Plugin64/GFX/PJ64Glide64.dll
/Plugin64/GFX/Project64-Video_d.dll
/Plugin64/GFX/Project64-Video.dll
/Plugin64/Input/AndroidInput_d.dll
/Plugin64/Input/AndroidInput.dll
/Plugin64/Input/lib
/Plugin64/Input/map
/Plugin64/Input/pdb
/Plugin64/Input/PJ64_NRage_d.dll
/Plugin64/Input/PJ64_NRage.dll
/Plugin64/Input/Project64-Input_d.dll
/Plugin64/Input/Project64-Input.dll
/Plugin64/RSP/lib
/Plugin64/RSP/map
/Plugin64/RSP/pdb
/Plugin64/RSP/RSP 1.7.dll
/Plugin64/RSP/RSP_d 1.7.dll
/Plugin64/RSP/RSP-HLE_d.dll
/Plugin64/RSP/RSP-HLE.dll
/Save
/Source/nragev20/Version.h
/Source/Project64-audio/Version.h
/Source/Project64-core/Version.h
/Source/Project64-input/Version.h
/Source/Project64-video/Version.h
/Source/Project64-rsp-core/Version.h
