*.aps
*.ncb
*.opensdf
*.sdf
*.suo
*.user
Thumbs.db
/Bin/Debug
/Bin/Package
/Bin/Release
/build
/Config/Project64.cache3
/Config/Project64.cfg
/Config/Project64.rdn
/Config/Project64.sc3
/Config/Project64.zcache
/ipch
/Plugin/GFX/lib
/Plugin/GFX/map
/Plugin/GFX/pdb
/Plugin/GFX/PJ64Glide64.dll
/Plugin/GFX/PJ64Glide64_d.dll
/Plugin/Input/lib
/Plugin/Input/map
/Plugin/Input/pdb
/Plugin/Input/PJ64_NRage.dll
/Plugin/Input/PJ64_NRage_d.dll
/Plugin/RSP/lib
/Plugin/RSP/map
/Plugin/RSP/pdb
/Plugin/RSP/RSP 1.7.dll
/Plugin/RSP/RSP_d 1.7.dll
/Source/3rd Party/wx/lib/vc_lib/mswu/wx/msw/rcdefs.h
/Source/3rd Party/wx/lib/vc_lib/mswud/wx/msw/rcdefs.h
