assets/project64_data/Config
assets/project64_data/Lang
config/version.gradle

# Generated and temporary files
bin/
gen/
obj/
*.d
*.o
*.so
Version.h.in

# Eclipse project files
.settings/
.classpath
.cproject
.project

