assets/project64_data/Config
assets/project64_data/Lang
config/version.gradle

app/src/main/assets/project64_data/Config
app/src/main/assets/project64_data/Lang
*.iml
.gradle
local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
build
