// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "../Project64-rsp-core/Version.h"

#define APSTUDIO_READONLY_SYMBOLS

#include "WinResrc.h"

#ifdef IDC_STATIC
#undef IDC_STATIC
#endif
#define IDC_STATIC              (-1)

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (Australia) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENA)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_AUS
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

RSPCOMMAND DIALOGEX  0, 0, 187, 94
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
END

RSPREGISTERS DIALOGEX  0, 0, 186, 95
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
END

RSPCOMPILER DIALOGEX 0, 0, 226, 135
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "RSP Compiler"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "OK",IDOK,109,113,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,161,113,50,14
    CONTROL         "SSE",IDC_CHECK_SSE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,127,74,30,10
    CONTROL         "MMX",IDC_CHECK_MMX,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,127,46,33,10
    CONTROL         "MMX ²",IDC_CHECK_MMX2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,127,60,37,10
    CONTROL         "Vector Dest Analysis",IDC_COMPILER_DEST,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,22,18,81,10
    CONTROL         "Accumulator Analysis",IDC_COMPILER_ACCUM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,22,32,83,10
    CONTROL         "Flag Analysis",IDC_COMPILER_FLAGS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,22,46,57,10
    CONTROL         "Instruction Re-ordering",IDC_COMPILER_REORDER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,22,74,87,10
    CONTROL         "Microcode sections",IDC_COMPILER_SECTIONS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,127,88,77,10
    CONTROL         "GPR Mem Aligned",IDC_COMPILER_ALIGNGPR,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,127,18,74,10
    CONTROL         "VEC Mem Aligned",IDC_COMPILER_ALIGNVEC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,127,32,73,10
    GROUPBOX        "",IDC_STATIC,7,3,209,104
    CONTROL         "GPR Constant Analysis",IDC_COMPILER_GPRCONSTANTS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,22,60,89,10
    CTEXT           "x86: 0.00 KB / 0.00 KB",IDC_COMPILER_BUFFERS,21,89,91,11,SS_CENTERIMAGE,WS_EX_CLIENTEDGE
END

RSPCONFIG DIALOG  0, 0, 179, 138
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure RSP"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "OK",IDOK,38,116,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,90,116,50,14
    CONTROL         "send Audio Lists to Audio Plugin",IDC_AUDIOHLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,22,42,117,10
    CTEXT           "disables RSP emulation for the following lists, allows plugins to process them instead",IDC_STATIC,13,15,155,20
    GROUPBOX        "",IDC_STATIC,7,3,165,69
    CONTROL         "send Display Lists to Graphics Plugin",IDC_GRAPHICSHLE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,22,55,131,10
    GROUPBOX        "",IDC_STATIC,7,73,166,34
    LTEXT           "CPU core style:",IDC_STATIC,18,88,50,8
    COMBOBOX        IDC_COMPILER_SELECT,83,86,78,39,CBS_DROPDOWNLIST | WS_TABSTOP
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO 
BEGIN
    "RSPCOMMAND", DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 180
        TOPMARGIN, 7
        BOTTOMMARGIN, 87
    END

    "RSPREGISTERS", DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 179
        TOPMARGIN, 7
        BOTTOMMARGIN, 88
    END

    "RSPCOMPILER", DIALOG
    BEGIN
        LEFTMARGIN, 6
        RIGHTMARGIN, 217
        TOPMARGIN, 7
        BOTTOMMARGIN, 127
    END

    "RSPCONFIG", DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 172
        TOPMARGIN, 7
        BOTTOMMARGIN, 131
    END
END
#endif    // APSTUDIO_INVOKED


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
	"#include ""WinResrc.h""\r\n"
	"\r\n"
	"#ifdef IDC_STATIC\r\n"
	"#undef IDC_STATIC\r\n"
	"#endif\r\n"
	"#define IDC_STATIC              (-1)\r\n"
	"\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

RspMenu MENU 
BEGIN
    MENUITEM "RSP &Commands...",            ID_RSPCOMMANDS
    MENUITEM "RSP &Registers...",           ID_RSPREGISTERS
    MENUITEM "RSP Com&piler...",            ID_COMPILER
    MENUITEM SEPARATOR
    POPUP "CPU Method"
    BEGIN
        MENUITEM "Recompiler",                  ID_CPUMETHOD_RECOMPILER
        MENUITEM "Interpreter",                 ID_CPUMETHOD_INTERPT
    END
    MENUITEM SEPARATOR
    POPUP "Pro&filing"
    BEGIN
        MENUITEM "&On",                         ID_PROFILING_ON
        MENUITEM "O&ff",                        ID_PROFILING_OFF
        MENUITEM SEPARATOR
        MENUITEM "Reset Stats",                 ID_PROFILING_RESETSTATS
        MENUITEM "Generate Log",                ID_PROFILING_GENERATELOG
        MENUITEM SEPARATOR
        MENUITEM "Log Individual Blocks",       ID_PROFILING_LOGINDIVIDUALBLOCKS
    END
    POPUP "Dump"
    BEGIN
        MENUITEM "&RSP code",                   ID_DUMP_RSPCODE
        MENUITEM "DMEM",                        ID_DUMP_DMEM
    END
    POPUP "Settings"
    BEGIN
        MENUITEM "Show Compiler Errors",        ID_SHOWCOMPILERERRORS
        MENUITEM "Break on start of task",      ID_BREAKONSTARTOFTASK
        MENUITEM "Accurate Emulation",          ID_ACCURATEEMULATION
        MENUITEM "Log RDP Commands",            ID_LOGRDPCOMMANDS
        MENUITEM "Log X86 code",                ID_SETTINGS_LOGX86CODE
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION        VER_FILE_VERSION
 PRODUCTVERSION     VER_PRODUCT_VERSION
 FILEFLAGSMASK      0x3fL
 FILEFLAGS          VER_FILEFLAGS
 FILEOS             VER_FILEOS
 FILETYPE           VER_FILETYPE
 FILESUBTYPE        0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0c0904b0"
        BEGIN
            VALUE "FileDescription",  VER_FILE_DESCRIPTION_STR "\0"
            VALUE "FileVersion",      VER_FILE_VERSION_STR "\0"
            VALUE "InternalName",     VER_INTERNAL_NAME_STR "\0"
            VALUE "LegalCopyright",   VER_COPYRIGHT_STR "\0"
            VALUE "OriginalFilename", VER_ORIGINAL_FILENAME_STR "\0"
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCT_VERSION_STR "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // English (Australia) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

